.root{
    font-family: 'Manrope', sans-serif;
}

.admin-sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #66023C;
    color: white;
    width: 15vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 20px;
    text-align: center;
}

.admin-sidebar-button{
    background-color: #66023C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: block;
    width: 100%;
    cursor: pointer;
}

.admin-sidebar-button:hover {
    background-color: #5a0234;
}